/*main page*/
.App h1 {
  color: #333;
  font-size: 2.5rem;
  text-align: center;
  margin: 20px 0;
  text-transform: uppercase;
}

.App button {
  display: block;
  font-size: 1rem;
  padding: 10px 20px;
  background-color: #b2b5b7;
  color: white;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  outline: none;
  margin: 0 auto;
  transition: background-color 0.2s;
  align-items: center;
  justify-content: center;
}

/*addbook function*/
.addbook {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%; 
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

input, textarea {
  width: 100%; 
  margin: 10px 0; 
  padding: 10px;
}


button {
  background-color: #0045ff; 
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
}


/*booklist*/
.booklist {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.booklist > div {
  background: #077cbb;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.booklist span {
  display: block;
  margin-bottom: 5px;
}

.booklist button {
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 10px;
  text-transform: uppercase;
  outline: none;
  transition: background-color 0.2s;
}

.booklist button:hover {
  background-color: #252222;
}
